---
import Layout from "../layouts/Layout.astro";
import Cupcakes from "../components/confirm/Cupcakes.astro";
---

<Layout>
  <div class="page">
    <Cupcakes />
  </div>
</Layout>

<style>
  .page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
</style>
