---

---

<div class="header">
  <h1>Loviu</h1>
  <p>¿Quieres ser mi valentina?</p>
  <img
    src="/img/heart_export.webp"
    alt="Una imagen de un corazón pixelart morado"
  />
</div>
<button>Sí</button>

<style scoped>
  .header {
    margin: 30vh 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    h1,
    p {
      width: 100%;
      text-align: center;
      color: var(--fr);
    }

    h1 {
      font-family: "NewTitle-Bold", serif;
      font-size: 17rem;
    }

    p {
      transform: translateY(-3rem);
      font-family: "Satoshi-Regular", serif;
      font-size: 1.5rem;
    }

    img {
      width: 10%;
      position: absolute;
      transform: scale(6) translateY(-2rem) rotate(30deg);
      animation-name: example;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
  }

  button {
    font-family: "Satoshi-Bold", serif;
    margin-top: 1rem;
    padding: 0.5rem 4rem;
    font-size: 1.7rem;
    color: var(--fr);
    background-color: var(--bg);
    border: 0.2rem solid var(--fr);
    border-radius: 1.5rem;
    box-shadow: 0.5rem 0.5rem 0 var(--fr);
  }

  @keyframes example {
    0% {
      transform: scale(6) rotate(30deg);
    }
    50% {
      transform: scale(4) rotate(30deg);
    }
    100% {
      transform: scale(6) rotate(30deg);
    }
  }
</style>
