<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Wanna be my valentine?</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import "/public/css/new-title.css";
  @import "/public/css/satoshi.css";
  :root {
    --bg: #dad2ff;
    --fr: #493d9e;
    --accent: #b2a5ff;
    --complementary: #fff2af;
  }
  html,
  body {
    width: 100%;
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--bg);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Satoshi-Light", sans-serif;
  }
</style>
